main{
    
    background-image:linear-gradient(to left, #d60cd6, hsl(253, 88%, 52%))


}
#logo{
height: 30px;
margin-right: 10px;
}
#logo:hover{
transform: scale(1.3);

}
.li{
list-style-type: none;
}

.li:hover{
text-decoration: underline;
}