main{
    
        background-image:linear-gradient(to left, #c90963, hsl(251, 92%, 38%))
    
    
}
#logo{
    height: 30px;
    margin-right: 10px;
}
#logo:hover{
    transform: scale(1.3);

}
.li{
    list-style-type: none;
}

.li:hover{
    text-decoration: underline;
}